@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
body {
  font-family: "Roboto", sans-serif;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

label {
  font-family: "Playfair Display", serif;
}
